<h1>
  Welcome back, <%= current_user.name %>!
</h1>

<hr>

<%= render("daily_reflection_templates/validation_failures.html.erb") %>

<form action="/insert_daily_reflection_record" method="post">
  <div>
    <label for="reflection_text">
      What are you hoping to remember from today?
    </label>

    <textarea id="reflection_text" name="reflection_text"><%= @daily_reflection.reflection_text %></textarea>
  </div>

  <div>
    <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
  </div>

  <button>
    Create reflection
  </button>
</form>

<hr>

<a href="/daily_reflections">
  Return to your reflections
</a>
